.site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

.post-content{
  width: 100%;  
}

.site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

.site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}
.post-info{
 padding-left: 100px;
}
 
.site-content .post-content > .post-image > div{
    overflow: hidden;
}

.site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}

.site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
    
}

.site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

.post-content .post-title a{
    font-family: var(--Anton);
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}

.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Lexend);
}

.site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}
.site-content > .sidebar .category-list{
    font-family: var(--Livvic);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.site-content > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0px;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.site-content > .sidebar .category-list .list-items:hover {
    background: transparent;
    color: red;
}
 
.site-content > .sidebar .category-list .list-items a{
    color:  black;
    font-size: 16px;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}
 
.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}
 
.site-content .sidebar .popular-post .post-info{
    padding: .4rem .10rem !important;
    bottom: 0rem !important;
    left: 1.8rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}

.site-content .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}

.site-content .sidebar .popular-tags{
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}
.category {
    padding-top: 70px;
    margin-top: -70px; 
}
 .discountInfo {
    background-color: cornflowerblue;
    font-size: 1.5rem;
    border-radius: 15px;
    margin:20px 0px ;
    padding-left: 30px;
    width: 100%;
    color:white;
    cursor: pointer;
    border: 1px solid white;
 }
 
.discountInfo:hover{
    background: transparent;
    border: 1px solid black;
    color:black;
  }
@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }
    .discountInfo {
      font-size: 18px;
     }
     .list-items {
         font-size: 14px;
     }
     .site-content > .sidebar .category-list .list-items a{
        
        font-size: 14px;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }
}
@media only screen and (max-width: 750px){
   .nav-items{
        flex-direction: column;
    }
    .discountInfo {
        width: 80%;
        font-size: 1.3rem;
        margin: 20px  0px 20px 50px;
     }

   .toggle-collapse{
        display: initial;
    }

    .site-content{
        grid-template-columns: 100%;
    }

}
@media only screen and (max-width: 520px){

    .site-content .post-content > .post-image .post-info{
        display: none;
    }
    .discountInfo {
      width: 90%;
      margin: 20px 10px 0px  15px;
      font-size: 1.3rem;
     }

    .toggle-collapse{
        width: 80% !important;
    }
}
@media only screen and (max-width: 320px){

     .site-content .post-content > .post-image .post-info{
         display: none;
     }
 
 }