.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
    overflow: hidden;
}

.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

.footer .container h2{
    color: var(--white);
}
.footer .container p{
    color: var(--white);
}

.footer .newsletter .form-element{
    background: black;
    display: flex;
  
}

.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%; 
}

.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .2rem .6rem;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

.footer .rights h4 a{
    color: var(--white);
}

.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

.footer .move-up span{
    color: var(--midnight);
}
.network {
    display: flex;
    color: white;
}
.network li{
     padding: 10px;
     cursor: pointer;
}
.email {
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}
@media only screen and (max-width: 1130px){
   .footer .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 750px){
 .footer .container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 520px){
   .footer .container > div{
        padding:  1rem .9rem !important;
    }

    .footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }
}